{% extends './index.njk' %}
{% block content %}
  {% for list in guestlist %}
  <div class="print-guest-entry">
    <div>
      <p class="print-guest-attendee">{{ list.registeredAttendee | title }}</p>
      {% for guest in list.guests %}
        <p>{{ guest | title }}</p>
      {% endfor %}
    </div>
    <div class="print-guest-stats">
      <p>{{ list.totalGuests }}</p>
      {% if list.paid %}
        <p>PAID</p>
      {% endif %}
    </div>
  </div>
  {% endfor %}
{% endblock %}
