<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/" />
    <title>5 Squadron - Royal New Zealand Air Force</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <style>
    .print-font {
      font-family: helvetica, arial;
    }

    .print-heading {
      padding: 5px;
      background-color: black;
      color: white;
    }

    .print-guest-entry {
      padding: 1px 2px 1px 2px;
      border: 1px solid grey;
      margin: 1.5px 0px 1.5px 0px;
      font-size: 0.75em;
    }

    .print-guest-attendee {
      font-weight: 600;
    }

    .print-guest-stats {
      display:inline-block;
    }

  </style>
  <body class="print-font">
    <h4 class="print-heading">Event Guest List</h4>
    <section>
    {% block content %}
    {% endblock %}
  </section>
  </body>
  <!-- Written and designed by F/S Sunil Unka, Air Warfare Specialist, 5 SQN, 2006-2016 -->
</html>
