<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/" />
    <title>5 Squadron - Royal New Zealand Air Force</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>Testing!</h1>
    <h2>Why in the hell isn't this working?</h2>
    <section>
    {% block content %}
    {% endblock %}
  </section>
  </body>
  <!-- Written and designed by F/S Sunil Unka, Air Warfare Specialist, 5 SQN, 2006-2016 -->
</html>
